<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1024, height=768 user-scalable=no" />
    <meta name="format-detection" content="telefone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    @@if (mode === 'dev') { @@include('./../../_includes/base/_dev_css.html') }
    @@if (mode === 'veeva') {
    @@include('./../../_includes/base/_veeva_css.html') }
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body></body>

  @@if (mode === 'dev') { @@include('./../../_includes/base/_dev_js.html') }
  @@if (mode === 'veeva') { @@include('./../../_includes/base/_veeva_js.html') }
  <script src="index.js"></script>
</html>
