<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1024, height=768 user-scalable=no" />
    <meta name="format-detection" content="telefone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="stylesheet" href="./shared/css/index.css" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body></body>
  <script src="./shared/js/assets/veeva-library.js"></script>
  <script src="./shared/js/assets/jquery-3.6.3.min.js"></script>
  <script src="./shared/js/main.js"></script>
  <script src="index.js"></script>
</html>
